:root {
  font-family: "Inter", sans-serif;

  /* ### Primary ### */

  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram-gradient01: hsl(37, 97%, 70%);
  --Instagram-gradient02: hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);

  /* #### Dark Theme #### */

  --Toggle-gradient01: hsl(210, 78%, 56%);
  --Toggle-gradient02: hsl(146, 68%, 55%);

  /* #### Light Theme #### */

  --Toggle: hsl(230, 22%, 74%);

  /* #### Dark Theme #### */

  --Very-Dark-Blue: hsl(230, 17%, 14%);
  --Very-Dark-Blue02: hsl(232, 19%, 15%);
  --Dark-Desaturated-Blue: hsl(228, 28%, 20%);
  --Desaturated-Blue: hsl(228, 34%, 66%);
  --White: hsl(0, 0%, 100%);

  /* #### Light Theme #### */

  --White: hsl(0, 0%, 100%);
  --Very-Pale-Blue: hsl(225, 100%, 98%);
  --Light-Grayish-Blue: hsl(227, 47%, 96%);
  --Dark-Grayish-Blue: hsl(228, 12%, 44%);
  --Very-Dark-Blue: hsl(230, 17%, 14%);
}

.main-container {
  padding: 1rem;
  max-width: 100%;
  height: 100%;
}

.main-container-light {
  background-color: var(--White);
}

.main-container-dark {
  background-color: var(--Very-Dark-Blue);
}

body {
  margin: 0;
}

@media (min-width: 1024px) {
  .main-container {
    height: 100vh;
  }
}
