h1 {
  color: white;
  text-align: center;
}

span {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.step02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chosenOptions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  bottom: 140px;
}
