.app-container {
  margin: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  background-color: var(--Light-Grayish-Cyan-Background);
}

.header {
  height: 170px;
  background-image: url("./assets/images/bg-header-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
