:root {
  font-family: "League Spartan", sans-serif;

  /* ### Primary ### */

  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);

  /* ### Neutral ### */

  --Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

html,
body,
#root {
  max-height: 100%;
  margin: 0;
  padding: 0;
}
